AWS_ACCESS_KEY_ID="tu_access_key_aqui"
AWS_SECRET_ACCESS_KEY="tu_secret_key_aqui"
AWS_SESSION_TOKEN="tu_token_key_aqui"
AWS_REGION="us-east-1"

GEMINI_API_KEY="tu_api_key_aqui"

S3_BUCKET_NAME="tu_bucket_aqui"
S3_PREFIX_DOCS="bronze/docs/"
S3_PREFIX_BRONCE="bronze/processed/"
S3_PREFIX_SILVER="silver/"
S3_PREFIX_GOLD="gold/"
S3_PREFIX_QUARANTINE="Quarantine/"